/*remove default padding and margins from html*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body needed color change*/
body{
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}

/*give header some flare*/
header{
    padding: 20px 35px;
    background-color: #39a6b2;
}

/*add style to h1 in header*/
header h1{
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

/*give flare to a elements in header*/
header a{
    text-decoration: none; /*remove the auto-underline for links here*/
    color: #fce138;
}

/*add style to the nav element in header*/
header nav{
    float: right;
    margin: 7px 0;
}

/*give flare to list item within ul inside nav in header*/
header nav ul li{
    display: inline; /*puts the list items all on the same line*/
}

/*add style to a inside nav element*/
header nav ul li a{
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}


/*enhance the look of the footer*/
footer{
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}

/*enhance the appearance of the h2 in footer*/
footer h2{
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

/*format the div in footer*/
footer div{
    float: right;
    line-height: 1.5;
    text-align: right;
}

/*format the a elements in footer*/
footer a{
    color: #024e76;
}


/*make the sections prettier*/
section{
    padding: 60px;
}

/*make the hero shine*/
.hero{
    background-image: url("../images/hero-bg.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}

/*make the hero form prettier*/
.hero-form{
    color: #024e76;
    background-color: #fce138;
    padding: 20px;
    width: 500px;
    border: solid 3px #024e76;
    position: absolute;
    bottom: 120px;
    right: 140px;
}

/*make the form header look better*/
.hero-form h3{
    margin: 0px;
    font-size: 24px;
}

/*clean up the p elements in the form*/
.hero form p{
    margin: 5px 0 15px 0;
}

/*improve the look of the input button*/
.form-input{
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
}

/*make the labels more readable on the site*/
.hero-form label{
    margin: 0 5px;
}

/*make the button more colorful*/
.hero-form button{
    color: #fce138;
    background-color: #024e76;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}